{% block _payment_methods_pledg_widget %}
    <div class="{{ class_prefix }}-form__payment-methods">
        <table class="grid">
            <tr>
                <td>{{ 'pledg.payment_method_message'|trans }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block _order_review_payment_methods_pledg_widget %}
    {% if options.payment_method is defined %}
        <div class="hidden"
             data-page-component-module="pledgpayment/js/app/components/pledg-checkout-component"
             data-page-component-options="{{ {paymentMethod: options.payment_method}|json_encode }}">
        </div>
    {% endif %}
{% endblock %}
